{:paths   ["src" "data"]
 :deps    {org.clojure/clojure            {:mvn/version "1.11.1"}
           metosin/malli                  {:mvn/version "0.13.0"}
           org.clojure/core.async         {:mvn/version "1.6.673"}
           org.clojure/math.combinatorics {:mvn/version "0.2.0"}
           com.billpiel/sayid             {:mvn/version "0.1.0"}}
 :aliases {:test {:extra-paths ["test"]}}}
