{:paths   ["src" "data"]
 :deps    {org.clojure/clojure    {:mvn/version "1.11.1"}
           metosin/malli          {:mvn/version "0.13.0"}
           org.clojure/core.async {:mvn/version "1.6.673"}}
 :aliases {:test {:extra-paths ["test"]}}}
